*{
    margin:0px; padding:0px;
}

body{
    background-color: #f3f0f0;
    width:1280px;
    margin:50px 160px;
}
.fira-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 a{
    text-decoration: none;
 }

/* Bannar style */

.bannar{
    display: flex;
    justify-content: space-between;
    width:1280px;
    height:400px;
    background-color: #C6E4D6;
    /* margin: 18px 160px; */
    padding: 100px 80px;
    border-radius:24px;
}

.bannar-contant{
    max-width:622px;
}

.bannar-title{
    font-size: 24;
    color: #706969;
    font-weight: 450px;
    margin-bottom: 16px;
}
.bannar-description{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
}
.bannar-btn{
    width: 270px;
    height:56px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color:#006A50;
    margin-top: 24px;

    border-radius: 8px;
    border: none;
    transition: 1s;
	
}
.bannar-btn:hover{
    background-color:#fff;
    color:#006A50;
}
.ban-img{

}
.bannar-picture{
    width:475px;
    height: 400px;
}

/* Vision feature  */
.cards-sections{
   
    justify-content: space-between;
    max-width:1280px;
    gap:24px;

}


    

.cards{
    /* width:1280px; */
   
}

.card-main-title{
    margin-top:80px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
}
.simple-text{
        margin-bottom: 32px;
        font-size:16px;
}
.cards {
    display: flex;
    Width: 1280px;
    height: 325px;
    gap:32px;
    margin-bottom: 32px;
    
    
}

.card1{
    background-color: #BED2F5;
    width:410px;
    height: 325px;
    border-radius:16px;
    padding:32px;
}
.card2{
    background-color: #C6E4D6;
    margin-left: 24px;
    width:410px;
    height: 325px;
    border-radius:16px;
    padding:32px;
}
.card3{
    background-color:#F7EBCF;
    margin-left:24px;
    width:410px;
    height: 325px;
    border-radius:16px;
    padding:32px;
}
.card123-title{
            font-size: 20px;
            font-weight: bold;
            margin-top:24px;
            margin-bottom:12px;
}
.card123-description{
    font-size: 16px;
    margin-bottom: 50px;
}
.card1-btn{
    width:122px;
    height: 41px;
    border-radius: 8px;
    /* padding: 20px 11px; */
    font-size:16px;
    font-weight:400;
    background-color: #5490F5;
    color: #FFFFFF;
    margin-bottom: 32px;
    border: none;
    transition: 1s;

}
.card1-btn:hover{
    background-color: #FFFFFF;
    color:#5490F5;
}
.card2-btn{
    width:122px;
    height: 41px;
    border-radius: 8px;
    margin-bottom: 32px;
    font-size:16px;
    font-weight:400;
    border: none;
    /* padding: 20px 11px; */
    background-color: #09A15C;
    color: #FFFFFF;
    transition: 1s;
}
.card2-btn:hover{
    background-color: #FFFFFF;
    color:#09A15C;
}

.card3-btn{
    width:122px;
    height: 41px;
    border-radius: 8px;
    margin-bottom: 32px;
    font-size:16px;
    font-weight:400;
    border: none;
    /* padding: 20px 11px; */
    background-color: #FFC239;
    color: #FFFFFF;
    transition: 1s;
}
.card3-btn:hover{
    background-color: #FFFFFF;
    color:#FFC239;
}

/* Dr. Yunus style */

.about-yunus{
    width:1280px; 
    height:240px;
    background-image:url('../assets/quote-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-color:#ffffff;
    margin-top:100px;
    padding:48px;
    border-radius:16px;
}
.yunus-description{
    margin-bottom:100px;
    font-size: 16px;
    
}
div h3{
    font-weight:700;
}

/* resent news */

.news-container{
    
}

.headline{
    margin-top:80px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40;
}
.news-text{
    font-size: 16px;
    margin-bottom: 32px;
}
.news-div{
    width:1280px;
    height: 404px;
    display:flex;
    background-color: #FFFFFF;
    /* justify-content: space-between; */
    margin-bottom: 32px;
    padding: 48px;
    border-radius:24px;

}
div div h4{
    font-weight: 400;
    margin: 7px 0px;
}
div div h4 span{
    margin-left:30px;
    
}


.content-div1{
    width:740px;
    height:229px;
}


.stl-img{
    width:408px;
    height: 305px;
    border-radius: 10px;
    margin-right:20px
}
.stl-img2{
    margin-left: 20px;
}
.news-title{
    font-size: 32px;
    font-weight: 700px;
}
.news-btn{
    width: 140;
    height:48px;
    padding:13px 26px;
    background-color:#006A50 ;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size:18px;
    font-weight: 400;
    transition: 1s;
}
.news-btn:hover{
    background-color: #FFFFFF;
    color:black
}
/* Donate style */

.donate{
    width:1280px; height:465px;
    text-align: center;
}
.donate-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.donate-description{
    color:#0E0E0E;
    margin-bottom: 32px;
}
ul{
    display: flex;
    
}
ul li{
    list-style: none;
    padding:40px;
    border:black;
    border-radius:16px;
    font-size: 40px;
    font-weight:bold;
   
}
ul li button{
    width:245px; height:128px;
    background-color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
ul li button:hover{
    background-color: #C6E4D6;
    
}
.item2{
    
    background-color: #C6E4D6;
    transition: 1s;
}

.item2:hover{
    background-color: #FFFFFF;
    color:black;

}
div input{
    width: 1032px;
    height:10px ;
    margin:0px 124px;
    text-align: center;
    border:none;
    border-radius: 3px;
    padding: 40px 20px;
    font-size: 20px;
    color:#0E0E0E;
}
.donate-btn{
    margin-top: 32px;
    margin-bottom:80px;
    width:170px;
    height:78px;
    background-color: #006A50;
    padding:34px 17px;
    border:none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    transition:1s;
}
.donate-btn:hover{
    background-color: #FFFFFF;
    color:#0E0E0E;
    margin-bottom: 80px;
}
 /* footer-style */
 

 .newsletter{
    margin-top: 130px;
    width:1280px; 
    height:395px;
    background-color:#C6E4D6;
    border-radius: 10px;
    padding: 100px 80px;
    text-align: center;
 }
 .footer-title{
    margin-bottom: 16px;

 }
 .emailsubscribe{
    display:flex;
    align-items: center;
    width:750px;
    height:56px;
    /* margin-top: 25px 265px 25px 265px; */
    margin-left: 265px;
    margin-bottom: 50px;
   
   
  
    
 }
 .footer-description{
    color:#706969;
    font-size:16px;
    margin-bottom: 50px;
   
 }
 footer div input{
    width:600px;
    height:0pxpx;
    margin:0px 0px;
    text-align:left;
    border-bottom-left-radius:10px ;
    border-top-left-radius:10px ;
 }
 .subscribe-btn{
    margin:0px 0px;
    border: none;
    width:150px;
    height:90px;
    padding: 34px 17px;
    border-bottom-right-radius:10px ;
    border-top-right-radius:10px ;
    background-color: #006A50;
    color:#FFFFFF;
    font-weight:400;
    font-size: 18px;
 }
 .subscribe-btn:hover{
    background-color: #FFFFFF;
    color:#18581e;
    font-weight: bold;
 }


